/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #2183DC;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


  /* label color */

   /* label focus color */
   .input-field input[type=tel]:focus + label,
   .input-field input[type=email]:focus + label,
   .input-field input[type=password]:focus + label,
   .input-field input[type=text]:focus + label {
     color: #2183DC;
   }
   /* label underline focus color */
   .input-field input[type=tel]:focus ,
   .input-field input[type=email]:focus ,
   .input-field input[type=password]:focus ,
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2183DC;
     box-shadow: 0 1px 0 0 #2183DC;
   }
   /* valid color 
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }
   /* invalid color 
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */

   .input-field .prefix.active {
     color: #2183DC;
   }

  /*Color flecha select */
  .select-wrapper span.caret {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
  }

/*Color letras select*/
  .dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #1565c0;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  }

/*Color en la parte baja del footer*/
  footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.34);
}


.indigo.darken-4 {
  background-color: #363c7b !important;
}
